<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>道聚城个人中心</title>
		<link rel="stylesheet" href="css/admin.css" />
	</head>
	<body style="background:#F3F4F6;">
		<div class="bian">
			<ul class="ti" style="float: left;">
				<li>游戏币交易</li>
				<li>Q币充值</li>
				<li>心悦游戏家</li>
			</ul>
			<ul class="ti" style="float:right;">
				<li><a href="#">登录</a></li>
				<li>丨</li>
				<li><a href="admin.html">我的订单</a></li>
				<li>丨</li>
				<li><a href="admin01.html">个人中心</a></li>
				<li>丨</li>
				<li><a href="#">官方论坛</a></li>
				<li>丨</li>
				<li><a href="#">帮助中心</a></li>
				<li>丨</li>
				<li><a href="#">游戏导航</a></li>		
			</ul>
		</div>
		
		<div style="clear: both;"></div>
		
		<div id="biaoti" >
			<div class="bian" style="height: 130px;">
				<img src="img02/题目.png" style="float: left;" />
				<!--搜索栏-->
				<div id="sou">
					<form>
						<input type="text" colo placeholder="请输入搜索内容" style="height:40px;width: 300px;border: 0px;font-size: 15px;" />
						<input type="submit" value="搜索" style="height: 40px;;width: 50px;margin-left: -5px;" />
					</form>
				</div>
				<img src="img02/lol.png" height="100px" style="float:right"/>
				<div style="clear: both;"></div>	
			</div>
			<!--导航-->
			<table class="bian" >
				<td><a href="index.html"><div>首页</div></a></td>
				<td><a href="liebiao.html"><div>商品列表</div></a></td>
				<td><a href="#"><div>限时折扣</div></a></td>
				<td><a href="#"><div>聚诚品</div></a></td>
				<td><a href="#"><div>聚豆商城</div></a></td>
				<td><a href="#"><div>周边商城</div></a></td>
				<td><a href="#"><div  style="background: orange; font-weight: 1000;color:white;">个人中心</div></a></td>				
				<td><a href="shop.html">
					<div style="color:orange;font-size: 20px;">
						购物车
					</div></a>
				</td>
			</table>
		</div>
		<!--位置-->
		<div style="height: 20px;margin: 10px auto;"class="bian">
			<span style="font-size: 10px;">您现在的位置：英雄联盟  >我的订单</span>
		</div>
		<!--主体-->
		<div class="bian">
			<!--左边导航栏-->
			<div class="daohang" >
				<a href="admin01.html"><div><img src="img04/首页.png"/>个人中心首页</div></a>
				<a href="#"><div><img src="img04/特权.png"/>我的特权</div></a>
				<a href="#"><div><img src="img04/我的任务.png"/>我的任务</div></a>
				<a href="admin.html"><div style="border-left:8px solid #f84a4b;color: #f84a4b;"><img src="img04/我的订单.png"/>我的订单</div></a>
				<a href="#"><div><img src="img04/我的周边订单.png"/>我的周边订单</div></a>
				<a href="#"><div><img src="img04/收货地址.png"/>我的收货地址</div></a>
				<a href="#"><div><img src="img04/我的购物点.png"/>我的购物点</div></a>
				<a href="#"><div><img src="img04/优惠券.png"/>我的优惠卷</div></a>
				<a href="#"><div><img src="img04/钱.png"/>我的聚豆</div></a>
				<a href="#"><div><img src="img04/我的消息.png"/>我的消息</div></a>
				<a href="#"><div><img src="img04/我的关注 (2).png"/>我的关注</div></a>
				<a href="#"><div><img src="img04/我的功能性道具.png"/>我的功能性道具</div></a>
				<a href="#"><div><img src="img04/领取魅力值.png"/>领取魅力值</div></a>
				<a href="#"><div><img src="img04/我的票务.png" style="height: 15px;top: 2px;"/>我的票务</div></a>		
			</div>
			<!--右边内容-->
			<div style="height:900px;width:940px;float:left;margin-left: 8px;">
				<!--主页面窗口-->
				<div class="dan">
					<div>我的订单</div>
					<div>
						<p>选择游戏</p>
						<select>
							<option>全部</option>
							<option>英雄联盟</option>
							<option>穿越火线</option>
							<option>斗战神</option>
							<option>剑灵</option>
						</select>
						<p>购买渠道</p>
						<select>
							<option>全部</option>
							<option>道聚城APP</option>
							<option>手机QQ</option>
							<option>道聚城微信公众号</option>
							<option>道聚城官网</option>
						</select>
						<input type="button" value="查询" />
					</div>
					
					<div>
						<div>
							<div>30天内订单</div>
							<div>历史订单</div>
							<div style="clear: both;"></div>
						</div>
						<table class="biao" cellspacing="0">
							<tr>
								<td>游戏</td>
								<td>订单物品</td>
								<td>数量</td>
								<td>实付款</td>
								<td>全部订单状态</td>
								<td>操作</td>
							</tr>
							<tr>
								<td>2018-01-08</td>
								<td colspan="5">订单号：LOL-20180108141632437-421</td>
							</tr>
							<tr>
								<td>英雄联盟</td>
								<td>圣诞老人 德莱文</td>
								<td>1</td>
								<td>129.00QB</td>
								<td>交易已手动取消</td>
								<td><a href="#">[订单详情]</a></td>
							</tr>
							<tr>
								<td>2017-12-28</td>
								<td colspan="5">订单号：LOL-20171221164903439-921</td>
							</tr>
							<tr>
								<td>英雄联盟</td>
								<td>冰雪驯鹿 波比</td>
								<td>1</td>
								<td>129.00QB</td>
								<td>交易已手动取消</td>
								<td><a href="#">[订单详情]</a></td>
							</tr>
						</table>
						<div style="background: #F84A4B;width:30px;height: 30px;font-weight: 1000;color: white;text-align: center;line-height: 30px;">1</div>
						<div>
							<p>温馨提示：</p>
							<p>1、购买成功后系统会自动发货，如发货失败24小时内会自动补发！</p>
							<p>2、如果网银重复付款或付款后订单取消，道具未到账，网银退款将在15个工作日内到账。</p>
						</div>	
					</div>
					
				</div>
				<!--猜你喜欢-->
				<div class="cai">
					<p><span>猜你喜欢</span></p>
					<a href="#">
						<div>
							<img src="img03/2-1.jpg" />
							<p>胜利经验卡(10胜)</p>
							<p>微信价：<span>￥27.55</span></p>
						</div>
					</a>
					<a href="#">
						<div>
							<img src="img03/2-1.jpg" />
							<p>胜利经验卡(10胜)</p>
							<p>微信价：<span>￥27.55</span></p>
						</div>
					</a>
					<a href="#">
						<div>
							<img src="img03/2-1.jpg" />
							<p>胜利经验卡(10胜)</p>
							<p>微信价：<span>￥27.55</span></p>
						</div>
					</a>
					<a href="#">
						<div>
							<img src="img03/2-1.jpg" />
							<p>胜利经验卡(10胜)</p>
							<p>微信价：<span>￥27.55</span></p>
						</div>
					</a>
					<a href="#">
						<div style="border: 0px;">
							<img src="img03/2-1.jpg" />
							<p>胜利经验卡(10胜)</p>
							<p>微信价：<span>￥27.55</span></p>
						</div>
					</a>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		
		
		<!--页脚-->
		<div style="background:#3b3f4a;height:350px;border: 1px solid #3b3f4a;">
	     	<div class="bian" style="height: 200px;">
		     	<div class="div0">
		     		<img src="img01/用户.png" />
		     		<p>我是新手</p>
		     		<ul>
		     			<li><a href="#">什么是道聚城</a></li>
		     			<li><a href="#">如何购买</a></li>
		     			<li><a href="#">如何赠送</a></li>
		     			<li><a href="#">如何获取聚豆</a></li>	
		     		</ul>
		     	</div>
		     	<div class="div0">
		     		<img src="img01/帮助.png" />
		     		<p>个人中心</p>
		     		<ul>
		     			<li><a href="#">发货时间</a></li>
		     			<li><a href="#">如何领取</a></li>
		     			<li><a href="#">补发规则</a></li>
		     			<li><a href="#">Vip价定义</a></li>	
		     			<li><a href="#">道具状态定义</a></li>
		     		</ul>
		     	</div>
		     	<div class="div0">
		     		<img src="img01/支付方式.png" />
		     		<p>支付方式</p>
		     		<ul>
		     			<li><a href="#">支付方式</a></li>
		     			<li><a href="#">购物点支付</a></li>
		     			<li><a href="#">如何充值</a></li>
		     		</ul>
		     	</div>
		     	<div class="div0">
		     		<img src="img01/qq.png" />
		     		<p>腾讯在线服务</p>
		     		<ul>
		     			<li><a href="#">腾讯官方在线客服</a></li>	
		     		</ul>
		     	</div>
		     	<div class="div00">
		     		<div>
		     			<img src="img01/掌上.png" />
		     			<br />
		     			<p>掌上道聚城</p>
		     		</div>
		     		<div>
		     			<img src="img01/公众号.png" />
		     			<br />
		     			<p>掌上道聚城</p>
		     		</div>
		     	</div>
	     	</div>	
	     	<hr />
	     	<div class="div000">
	     		<p>
	     			<a href="#">腾讯互动娱乐</a> | 
	     			<a href="#">服务条款</a> | 
	     			<a href="#">广告服务</a> |
	     			<a href="#">腾讯游戏招聘</a> | 
	     			<a href="#">腾讯游戏客服</a> | 
	     			<a href="#">游戏地图</a> | 
	     			<a href="#">游戏活动</a> | 
	     			<a href="#">成长守护平台</a> | 
	     			<a href="#">商务合作</a> | 
	     			<a href="#">网站导航</a></p>
	     		<p>COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.</p>
	     		<p>腾讯公司 版权所有</p>
	     	</div>     	
     	</div>  
    <div style="height: 20px;"></div>
	</body>
</html>
